
 <%= stylesheet_link_tag   user_path(@user, format: :css), media: "all" %>
<p> 
	Name: 
	<%= @user.name %>
	<%= @user.id%>
</p>



<%= link_to 'Home', users_path %>

	
<h1> DISPLAY WEATHER <H1>

<h1> DISPLAY QUOTE <H1>

